body {
  font-family: 'Roboto', sans-serif;
}


header.my_searchbar {
  height: 60px;
}

#my_sidebar {
  height: calc(100vh - 60px);
  background-color: #142a40;
  width: 60px;
}

main {
  height: calc(100vh - 60px);
  width: calc(100vw - 60px);
  overflow: auto;
  background-color: #f8f9fa;
}

/* main div.row {
  border: 1px solid red;
}

div[class^="col"] {
  border: 1px solid blueviolet;
} */

@media screen and (min-width: 992px) {
  #my_sidebar {
    width: 120px;
  }

  main {
    width: calc(100vw - 120px);
  }
}
