body {
  font-family: 'Roboto', sans-serif;
}

/* Header */
header.my_searchbar {
  height: 60px;
  width: 100%;
  background-color: #f8f9fa;

  display: flex;
}

.my_mobile-logo {
  width: 40px;
}

.my_logo {
  width: 140px;
}

/* Sidebar */
#my_sidebar {
  height: calc(100vh - 60px);
  background-color: #142a40;
  width: 60px;
}

/* Main */
main {
  height: calc(100vh - 60px);
  width: calc(100vw - 60px);
  overflow: auto;
  background-color: #f8f9fa;
}

.my_btn {
  height: 2rem;
  width: 2rem;
}

.my_code-button {
  background-color: #f26551;
  height: 35px;
  width: 35px;
  text-align: center;
  padding: 0;
}

@media screen and (min-width: 992px) {
  #my_sidebar {
    width: 120px;
  }

  main {
    width: calc(100vw - 120px);
  }
}
